.containerFooter {
    text-align: center;
    font-size: 12px;
    color: gray;
    margin-top: 200px;
    margin-bottom: 20px;
}

@media (max-width: 780px) {
    .containerFooter {
        margin-top: 80px;
    }
}